.Header-header {
  display: flex;
  background-color: var(--sunglow);
  padding: 1rem;
  margin-bottom: 1vh;
  justify-content: space-between;
  justify-content: space-between;
  align-items: center;

}

.Header-title {
  font-weight: normal;
  color: var(--font-main);
  margin: 0;
}

.Header-paragraph {
  vertical-align: baseline;
}
