.SubscribeForm-form {
  max-width: 60rem;
  text-align: center;
  padding: 0 1rem;
}

.SubscribeForm-label {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.SubscribeForm-input {
  flex-grow: 1;
}

.SubscribeForm-label-text {
  margin-right: 1rem;
  min-width: 10rem;
  text-align: right;
  font-size: 1.5rem;
}

.SubscribeForm-button {
  margin-top: 1rem;
}

.SubscribeForm-contract-status {
  text-align: left;
  margin-left: 11rem;
  margin-top: 0.25rem;
  padding-left: 11px;
}

.SubscribeForm-contract-status.found {
  color: var(--go-green);
}

.SubscribeForm-contract-status.not-found {
  color: var(--paradise-pink);
}
